video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover; 
}

body {
  padding: 0;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #EEEEEE;
}


.titlecontainer {
  text-align: center;
  color: rgba(21, 167, 142, 0.77);
  text-shadow: 3px 2px #000;
  font-size: 80px;
}

.aboutdiv {
  text-align: center;
  color: #000000;
}

/*Second NavBar*/

#mynavbar2{
  display: none;
}


/* DashBoard */

#gitlog{
  background-color: #000;
  border: 2px solid #a1a1a1;
  border-radius: 10px;

  padding: 5px;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 560px;
}

.ligitlog{
  color: #0B610B;
}


.button-dashboard{
  width: 150px;
  height: 150px; 
  background-color: #FBFBFB;
  margin: 20px;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
  color: #777;
  font-weight: bold;
}

.button-dashboard:hover {
  background-color: #D8D8D8;

}

/*Project List (ALL)*/

#projectslist{
  overflow: scroll;
  overflow-x: hidden;
  max-height: 560px;
}

/* MY Project*/

#myprojectslist{
  overflow: scroll;
  overflow-x: hidden;
  max-height: 560px;
}
/*Start new project*/

#myprocalllist{
  overflow: scroll;
  overflow-x: hidden;
  max-height: 560px;
}


/*Register*/

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

/* Config */

.configsquare{
  width: 350px;
  height: 400px; 
  background-color: #FBFBFB;
  margin: 20px;
  border: 2px solid #a1a1a1;

}

/*ONE Project*/

#json-renderer2{
  width: 350px;
  height: 400px; 
}

#json-textarea{
  display: none;
  width: 350px;
  height: 400px; 
}

#button-textarea {
  display: none;
}

/*About*/

canvas{
  border:5px solid rgba(255,255,255,0.1);
  box-shadow:inset 0 0 100px #4162a9;
  transform:translateZ(0);
}
