<div class="aboutdiv">

  <h1> ORBITAL TOOL </h2>

  <h3> Working with agile methodologies makes us be a self-organizing and self-demanding team guided by excellence. The main objective in this way of working is to obtain the best possible outcome for all projects and to maximize the benefit to our customers. Results are always measured in terms of objectives or measured in magical results like this Canvas ;) </h3>

<canvas id="myCanvas" width="100" height="100"></canvas>

</div>