<div class="row">
  <div class="col-md-4 configsquare">
  	<h4>GitLog configuration (bitbucket.org)</h4>
	<form role="form">
		<div class="form-group">
			<label for="name"> Username:</label>
			<input type="text" class="form-control" id="name" data-ng-model="name">
		</div>
		<div class="form-group">
			<label for="project">Project:</label>
			<input type="text" class="form-control" id="project" data-ng-model="project">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Update</button>
		</div>
	</form>
  </div>
  <div class="col-md-4 configsquare">
	  <h4>GPS Position</h4>
	  <div class="form-group">
		  <p>Current Position: </br> <span id="currpos"></span></br>
		  Saved Position: </br> <span id="savpos"></span></p>
		  <div id="mapholder"></div>
	  </div>
	  <div class="form-group">
	  	<button type="submit" class="btn btn-primary" data-ng-click="updatepos()">Update</button>
	  </div>
  </div>
  <div class="col-md-4 configsquare"><h4>Other configurations boxes</h4></div>
</div>
