
<div class="row">
  <div id="buttonsgrid" class="col-md-6"> 
  <div class="row">

		<button id="butStartproject" ng-show="buttondisable" class="button-dashboard ng-hide" data-ng-click="go('/startproject')">START PROJECT</button>
		<button id="butAllprojects" class="button-dashboard" data-ng-click="go('/porjectlist')">PROJECTS</button>
    	<button id="butMyprojects" class="button-dashboard" data-ng-click="go('/config')">CONFIGURATION</button>
		<button id="butOptions" class="button-dashboard" data-ng-click="go('/notifications')">NOTIFICATIONS</button>
    	<button id="butAdmin" class="button-dashboard">EXTRA</button>

  </div>
  </div>

  <h4><span class="glyphicon glyphicon-tasks"></span> GitLog</h4>
  <div id="gitlog" class="col-md-6"> 
  	<div id="realgitlog" class="list-group"></div>
  </div>
</div>
