
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center">Login</h1>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block" name="myTestForm" data-ng-submit="submitForm(myTestForm.$valid)" novalidate>
            <div class="form-group">
             <!-- <input type="text" class="form-control input-lg" placeholder="Email"> -->
              <input id="email" type="email" class="form-control input-lg" placeholder="Email" name="email" data-ng-model="email" data-ng-model-options="{ updateOn: 'blur' }" required><br/>
              <span style="color:red" data-ng-show="myTestForm.email.$dirty && myTestForm.email.$invalid">
              <span data-ng-show="myTestForm.email.$error.required">Email is required.</span>
              <span data-ng-show="myTestForm.email.$error.email">Invalid email address.</span>
              </span>
            </div>
            <div class="form-group">
              <input id="password" type="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
              <!--<button id="botonLogin" >Sign In</button>-->

              <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" data-ng-disabled="myTestForm.email.$dirty && myTestForm.email.$invalid">

              <span class="pull-right"><a data-ng-href="#/register">Register</a></span><span><a data-ng-href="#/about">Need help?</a></span>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true" data-ng-click="go('/main')">Cancel</button>
		  </div>	
      </div>
  </div>
  </div>
</div>