<div class="list-group">
  <a class="list-group-item" data-ng-repeat="item in items" data-ng-click="select(item)" data-ng-class="{active:isActive(item)}">
    <h4 class="list-group-item-heading">{{item.project_name}}</h4>
    <p class="list-group-item-text"> {{item.call_name}}</p>

		<button data-ng-click="removeItem($index,item)" class="btn btn-xs btn-danger">
			<span class="glyphicon glyphicon-trash"></span>
		</button>

		<button data-ng-click="go(item)" class="btn btn-xs btn-warning">
			<span class="glyphicon glyphicon-eye-open"></span>
		</button>
  </a>
</div>