<div class="row">
	<div class="col-md-6">
	<h2>Call List</h2> 
	  <div id="myprocalllist" class="list-group">
	    <a class="list-group-item" data-ng-repeat="item in items" data-ng-click="select(item)" data-ng-class="{active:isActive(item)}">
	      {{item.name}}
		<span class="pull-right">
			<button  data-ng-click="editItem($index)" ng-disabled="disabled" class="btn btn-xs btn-warning">
				<span class="glyphicon glyphicon-edit"></span>
			</button>
		</span>
	    </a>
	  </div>
	</div>

	<h2>Call Info</h2> 
	<div class="col-md-6"> 
		<pre id="json-renderer2"></pre>
		<div id="managdiv">
			<textarea id="json-textarea" ></textarea>
			<button id="button-textarea" data-ng-click="change()" class="btn btn-warning">Update</button>
		</div>
	</div>
</div>

