
<div class="row">
  <div id="divprojectlist" class="col-md-6">
  <h2>Project List</h2> 
	 <div id="projectslist" class="list-group">
      <a class="list-group-item" data-ng-repeat="item in items" data-ng-click="select(item,$index)" data-ng-class="{active:isActive(item)}">
        {{item.name}}
      </a>
	</div>
  </div>

  <div id="divprojectinfo" class="col-md-6">
    <h2>Project Information</h2>  
  	<pre id="info_pre" >
  	</pre>
  	<div class="row">
  		<button id="butStartproject" class="btn btn-default" data-ng-click="go('/oneproject')">OPEN PROJECT</button>
		  <button id="butAllprojects" class="btn btn-default" data-ng-click="remove_prpject()" >DELETE PROJECTS</button>
	</div>
  </div>
</div>
