<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center">Registration Form</h1>
      </div>
      <div class="modal-body">
      		<form class="form-horizontal" name="myTestForm" role="form" data-ng-submit="submitForm(myTestForm.$valid)" novalidate>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                    <div class="col-sm-9">
                    <input id="name" type="text" name="username" placeholder="Full Name" class="form-control" data-ng-model="username" data-ng-model-options="{ updateOn: 'blur' }" required autofocus>
                        <span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>
                        <span style="color:red" data-ng-show="myTestForm.username.$dirty && myTestForm.username.$invalid">
                        <span data-ng-show="myTestForm.username.$error.required">Username is required.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input id="email" type="email" class="form-control input-lg" placeholder="Email" name="email" data-ng-model="email" data-ng-model-options="{ updateOn: 'blur' }" required>
                        <span style="color:red" data-ng-show="myTestForm.email.$dirty && myTestForm.email.$invalid">
                        <span data-ng-show="myTestForm.email.$error.required">Email is required.</span>
                        <span data-ng-show="myTestForm.email.$error.email">Invalid email address.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">Country</label>
                    <div class="col-sm-9">
                        <select id="country" class="form-control">
                            <option value="0">Slovenia</option>
                            <option value="1">Spain</option>
                            <option value="2">Europe</option>
                        </select>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <label for="role" class="col-sm-3 control-label">Role</label>
                    <div class="col-sm-9">
                        <select id="role" class="form-control">
                            <option value="0">Admin</option>
                            <option value="1">Developer</option>
                            <option value="2">Designer</option>
                        </select>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                    <input type="submit" class="btn btn-primary btn-block" value="Submit" data-ng-disabled="myTestForm.phone.$dirty && myTestForm.phone.$invalid || myTestForm.username.$dirty && myTestForm.username.$invalid || myTestForm.email.$dirty && myTestForm.email.$invalid">
                    </div>
                </div>
            </form> <!-- /form -->
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true" data-ng-click="go('/main')">Cancel</button>
		  </div>	
      </div>
  </div>
  </div>
</div>