
<div class="row">
  <div class="col-md-6"> 
  	<div class="row">
  		<h2>Project Info</h2> 
		<form role="form">
		  <div class="form-group">
		    <label for="name">Project name:</label>
		    <input type="text" class="form-control" id="name">
		  </div>
		  <div class="form-group">
		    <label for="deadline">Deadline:</label>
		    <input type="date" class="form-control" id="deadline">
		  </div>
		  <div class="form-group">
		    <label for="posi">Current Position:</label>
		    <input type="text" class="form-control" id="posi" data-ng-model="inputpos"  disabled>
		  </div>
		  <div class="form-group">

		  <label for="deadline">Developer:</label>
		    <select name="developer" id="developer" data-ng-model="data.data_dev">
		      <option ng-repeat="option in data_dev.availableOptions" ng-selected="{{option.value == data_dev.availableOptions[0].value}}" value="{{option.id_user}}">{{option.name}}</option>
		    </select>

			<label for="deadline">Designer:</label>
		    <select name="designer" id="designer" data-ng-model="data.data_des">
		      <option ng-repeat="option_des in data_des.availableOptions" ng-selected="{{option_des.value == data_des.availableOptions[0].value}}" value="{{option_des.id_user}}">{{option_des.name}}</option>
		    </select>
		  </div>

    	<label for="file">Project files:</label> 

		  <div class="form-group">
		  	 <ul class="list-group">
			  <li class="list-group-item">Image.PNG</li>
			  <li class="list-group-item">Diagram.db</li>
			  <li class="list-group-item">ExtraInfo.doc</li>
			</ul>
		  </div>
		  <div class="form-group">
		  <label for="file">Upload more files:</label>
		  <input id="file" type="file" name="pic" accept="media_type">
		  </div>
		  <div class="form-group">
		  	<button type="submit" class="btn btn-primary" data-ng-click="save()" >Save Project</button>
		  	<button type="button" class="btn btn-danger">Discard Project</button>
		  </div>
		</form>
  	</div>
  </div>

  <h2>Call List</h2> 
    <div  class="col-md-6" >
     <div class="form-group">
    	<input data-ng-model="newItem">
    	<button data-ng-click="addItem(newItem)" class="btn btn-info"> 
    		<span class="glyphicon glyphicon-plus"></span> 
    	</button>
     </div>
      <ul id="myprocalllist" class="list-group">
        <li class="list-group-item" data-ng-repeat="item in items">
          {{item}}
          <span class="pull-right">
        	<button data-ng-click="removeItem($index)" class="btn btn-xs btn-warning">
          		<span class="glyphicon glyphicon-trash"></span>
        	</button>
      	  </span>
        </li>
      </ul>
    </div>
</div>

